resources/annotation_files/hg19_1000Genomes_DEL.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg19_1000Genomes_DUP.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg19_MEI.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg19_cytoband.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg19_flags.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg19_genes.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg38_1000Genomes_DEL.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg38_1000Genomes_DUP.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg38_MEI.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg38_cytoband.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg38_flags.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/hg38_genes.bed filter=lfs diff=lfs merge=lfs -text
resources/annotation_files/* filter=lfs diff=lfs merge=lfs -text
